<template name="listStatuses">
  <div class="col-md-10">
    <hr>
    {{ #if Template.subscriptionsReady }}
      {{ #each statuses }}
        <div class="well status">
          <div class="media">
            <div class="media-body">
              {{#if isOwnerOfStatus owner}}
                <button type="button" class="btn btn-warning btn-xs pull-right"
                    data-action="removeStatus" title="Remove status">
                    <i class="fa fa-minus"></i>
                </button>
              {{else}}
                <div class="pull-right">
                  <button type="button" class="btn btn-success btn-xs"
                      data-action="likeStatus" title="Like status">
                      <i class="fa fa-thumbs-up"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-xs"
                      data-action="dislikeStatus" title="Dislike status">
                      <i class="fa fa-thumbs-down"></i>
                  </button>
                </div>
              {{/if}}
              <p>
                <string>{{firstName}}</string> posted on
                <strong>{{statusDate createdAt}}</strong>
              </p>
              <p>{{status}}</p>
            </div>
          </div>
        </div>
      {{ else }}
        <p>Nothing found</p>
      {{ /each }}
    {{ else }}
      <p>Loading data...</p>
    {{ /if }}
  </div>
</template>
