<template name="userNav">
  <div class="list-group">
    <a href="/user/profile" class="list-group-item">
      <i class="fa fa-user"></i> My profile
    </a>
    <a href="/public/profile/{{currentUser.username}}" class="list-group-item
      list-group-item-warning">
      <i class="fa fa-user"></i> My (public) profile
    </a>
    <a href="/user/activity" class="list-group-item">
      <i class="fa fa-caret-square-o-right"></i> Activity
    </a>
    <a href="/user/dashboard" class="list-group-item">
      <i class="fa fa-sticky-note"></i> Statuses
    </a>
    <a href="/user/albums" class="list-group-item">
      <i class="fa fa-folder"></i> Manage albums
    </a>
    <a href="/user/photos" class="list-group-item">
      <i class="fa fa-file-image-o"></i> Manage photos
    </a>
    <a href="/user/findUsers" class="list-group-item">
      <i class="fa fa-users"></i> All users
    </a>
  </div>
</template>
