<template name="heroUnit">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Welcome to the Social Network</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore illum dolore provident tempora ea, repellat qui minus magnam recusandae illo praesentium sit maxime assumenda, hic nisi. Veniam, vero, commodi. Ipsum voluptas ratione ullam, voluptatum illum provident consequatur cum velit.</p>
        </div>
      </div>
    </div>
  </div>
</template>
