<template name="listComments">
  {{ #each comments statusId }}
  <div class="media comment">
    {{#each images owner}}
      <div class="media-left">
        <img src="{{url}}" alt="Profile image" class="media-object img-thumbnail">
      </div>
    {{/each}}
    <div class="media-body">
      <p>
        <strong>{{firstName}}</strong> posted on
        <strong>{{statusDate createdAt}}</strong>
        {{#if isOwnerOfCommentOrStatus parentData.owner}}
          <button type="button" class="btn btn-info btn-xs pull-right"
            data-action="removeComment" title="Remove comment">
              <i class="fa fa-minus"></i>
          </button>
        {{/if}}
      </p>
      <p>{{comment}}</p>
    </div>
  </div>
  {{/each}}
</template>
